<html>
<head>
<style>
div.background {
  background: url(Tampa_Bay_Lightning_Logo.png) repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
}

div.transbox p {
  font-weight: bold;
  color: #000000;
}
</style>
</head>
<body class="<%= @team[:name] %>">

<div class="background">
  <div class="transbox">
<center>
<h2><%= @team[:name] %></h1><p>
<a class="one"
<%= link_to  "Team Roster", team_players_path(@team[:id]) %>
</a></p>

<p>City: <%= @team[:venue][:city] %></p>
<p>Abbreviation: <%= @team[:abbreviation] %></p>
<p>Venue: <%= @team[:venue][:name] %></p>
<p>First Year of Play: <%= @team[:firstYearOfPlay] %></p>
<p>Division: <%= @team[:division][:name] %></p>
<h5>Next Game: <%= @next_game[:date] %> (<%= @team[:nextGameSchedule][:dates].first[:games].first[:status][:detailedState] %>)</h5>
<table>

  <tr>
    <th><h3><%= @next_game[:games].first[:teams][:home][:team][:name] %></h3>
    <center><h5>(<%= @next_game[:games].first[:teams][:home][:leagueRecord][:wins] %> - 
    <%= @next_game[:games].first[:teams][:home][:leagueRecord][:losses] %> - 
    <%= @next_game[:games].first[:teams][:home][:leagueRecord][:ot] %>)</h5></center></th>
    <th>                   </th>
    <th><h3><%= @next_game[:games].first[:teams][:away][:team][:name] %></h3>
    <center><h5>(<%= @next_game[:games].first[:teams][:away][:leagueRecord][:wins] %> - 
    <%= @next_game[:games].first[:teams][:away][:leagueRecord][:losses] %> - 
    <%= @next_game[:games].first[:teams][:away][:leagueRecord][:ot] %>)</h5></center></th>
    </tr>
    <tr>
<th><center> <h1><%= @next_game[:games].first[:teams][:home][:score] %></center></h1></th> 
<th>         -         </th>
  <th><center><h1><%= @next_game[:games].first[:teams][:away][:score] %></center></h1></th>
  </tr>
    
  </div>
</div>

</body>
</html>
